.app {
	text-align: center;
}
.container {
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
	display: flex;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	display: inline-flex;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html,
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #282c34;
}

.glow-on-hover {
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	justify-content: center;
	display: inline-block;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover-display {
	width: 200px; /* Задайте фиксированную ширину */
	height: 50px; /* Задайте фиксированную высоту */
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	display: inline-block;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden; /* Обрезать текст, который выходит за пределы блока */
}
.crimson {
	color: crimson;
}

.glow-on-hover-display span {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: rtl;
}
.glow-on-hover:before {
	content: "";
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
